@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
	font-family:Raleway,sans-serif;
	height: 100%;
}
.wrap{
	display: table;
	border-collapse: collapse;
	width: 100%;
}
.columns {
	display: table-cell;
	border-width: 1px 1px 0;
	border-style: solid;
	border-color: #333;
	padding: 29px 10px;
	font-size: 5em;
	font-weight: 600;
	vertical-align: middle;
	word-wrap: break-word;
}
.columns.no-border{
	border: 0 none;
	font-size: 20pt;
	padding: 0 10px 5px;
}
.wrap:last-child{
	border-bottom: 1px solid #333;
}
.text-right{
	text-align: right;
}
.text-center{
	text-align: center;
}
